@import url("./assets/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  background-color: #f2f4f5;
  border: none; /* Match your border color */
  border-radius: 6px;
  padding: 0 2rem 0 1rem;
  height: 3rem;
  width: 10rem;
  outline: none;
  background-image: url("/svgs/down.svg"); /* Path to custom icon */
  background-repeat: no-repeat;
  background-position: right 1rem center; /* Adjust positioning */
  background-size: 1rem; /* Size of custom icon */
}

@media screen and (max-width: 768px) {
  .custom-select {
    height: 2.5rem;
    width: 10rem;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.no-scroll {
  overflow: hidden;
}
